.inicialize {
    font-weight: 200;
    font-size: 40px;
    padding: 40px;
}

.buttons {
    font-weight: 450;
    color: var(--background-color);
    width: 300px;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: none;
    
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh; 
    padding: 20px;
    box-sizing: border-box;
   
}

.singUp{
    
    font-size: 20px;
    font-weight: 200;
    padding:20px;
    border-radius: 15px;
    
}

.singUp input{
    margin:6px;
    color: var(--background-color);
    position: relative;
    border-radius: 15px;
    padding: 5px;
    font-size: 15px;
    border: none;
}

.singUp label {
    font-weight: 350;
}


.singUp button {
    color: var(--background-color);
    border-radius: 12px;
    padding: 5px;
    border: none;
    font-weight: 450;

}

.singUp form{
    padding:12px;
    border-radius: 15px;
    background-color: var(--ligthBlue-color);

}

.tableContainer {
    width: 100%;
    max-height: 400px; 
    
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; 
}

.table th, .table td {
    padding: 5px;
    text-align: left;
    border: 1px solid var(--white-color);
    background-color: var(--ligthPurple-color);
   

}

.table td {

    background-color: var(--ligthPurple-color);

}






