.header {
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
    padding: 50px;
}

.header strong {
    font-weight: 800;
    font-size: 50px ;  
    color: var(--white-color);
}