:root {
    --background-color: #2E365A;
    --white-color: white;
    --ligth-color:#AD91A7;
    --ligthPurple-color: #6C5E82 ;
    --ligthBlue-color: #96A4C5;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    color: var(--white-color);
    
}

body{ 
    font-weight: 100;
    background-color: var(--background-color);
}


